.btn {
  display: inline-block;
  
  padding: 7px 32px;
  margin: 0 auto;
  text-align: center;

  border: 1px solid #FFF;
  border-radius: 5px;
  
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;

  color: #FFF;

  cursor: pointer;


  &--green {
    background: #00bfa5;
    padding: 10px 20px;
    border: none;
  }
}