* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html, body {
  font-family: "Roboto";
  font-size: 14px;
  color: @gray-dark;

  line-height: 1.4;
  
  background: #C5CEC9;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: "BERNIERRegular";
  font-weight: normal;
  color: @gray-darker;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


// Планшеты
@media @tablet {

  html, body {
    font-size: 15px;
  }
}


// Ноуты
@media @laptop {

  html, body {
    font-size: 16px;
  }
}


// Дектропы
@media @desktop {

  html, body {
    font-size: 17px;
  }
}