// Оттенки серого
@gray-base:              #000;
@gray-darker:            #373e42;
@gray-dark:              #455A64;
@gray:                   lighten(@gray-base, 33.5%);
@gray-light:             lighten(@gray-base, 80%);
@gray-lighter:           lighten(@gray-base, 93.5%);

// Оттенки зелёного
@green-darker:            darken(#00bfa5, 20%);
@green-dark:              darken(#00bfa5, 10%);
@green:                   #00bfa5;
@green-light:             lighten(#00bfa5, 10%);
@green-lighter:           lighten(#00bfa5, 20%);