nav.main-nav.main-nav--close
	button(type="button").main-nav__toggle Открыть меню
	.wrapper
		ul.items
			li.item
				a(href="#") Мои работы
			li.item
				a(href="#") Блог
			li.item
				a(href="#") Обо мне
			li.item
				a(href="#") Авторизация