.admin-navbar {
  background-color: @green;
  text-align: center;
  color: #fff;

  &__ttile {
    font-family: inherit;
    font-size: 21px;
    color: inherit;
    padding: 0 0 15px 0;
    margin: 0;
  }

  &__back-site {
    display: inline-flex;
    margin-top: 10px;
    padding: 5px;
  }
}