.admin-nav {
  background-color: #f0efe9;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    a {
      width: 100%;
      padding: @rem*15 0;
    }
  }
}