.admin-navbar {
  background-color: @green;
  text-align: center;
  color: #fff;

  &__ttile {
    font-family: inherit;
    font-size: @rem*21;
    color: inherit;
    padding: 0 0 @rem*15 0;
    margin: 0;
  }

  &__back-site {
    display: inline-flex;
    margin-top: @rem*15;
    padding: @rem*5;
  }
}