.btn {
  display: inline-flex;
  
  padding: 10px 20px;
  margin: 0 auto;

  border: none;
  border-radius: 5px;
  outline: none;
  
  font-family: inherit;
  line-height: 1.4;
  font-size:  14px;
  font-weight: 500;

  color: #FFF;

  text-decoration: none;
  cursor: pointer;  

  &:hover {
    text-decoration: underline;
  }


  &--green {
    background: @green;

    &:hover {
      background: @green-dark;
    }

    &:active {
      background: fade(@green-darker, 80%);
      background: @green-darker;
    }
  }

  &--main-nav {
    justify-content: center;
    padding: 12.5px 0;
    width: 100%;
    border-radius: 0px;
  }

  &--authorization {
    justify-content: center;
    padding: 12.5px 0;
    width: 50%;
    border-radius: 0px;
    margin-right: 1px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &--login {
    border: 1px solid #fff;
    padding: 10px 25px;

    &:hover {
      color: @green;
      background-color: #fff;
    }
  }
}