.checkbox {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: @rem*-2;
    left: @rem*-30;
    width: @rem*20;
    height: @rem*20;
    border: 1px solid #aaa;
    border-radius: @rem*3;
    background-color: #fff;
  }

  input[type="checkbox"]:checked + &::before {
    background-color: @green;
    border: 1px solid @green;
  }

  input[type="checkbox"]:checked + &::after {
    content: "";
    position: absolute;
    width: @rem*12;
    height: @rem*8;
    top: @rem*3;
    left: @rem*-26;
    transform: rotate(-45deg);
    border-left: @rem*3 solid #fff;
    border-bottom: @rem*3 solid #fff;
  }
}