.slider {
  display: flex;
  padding: 10px 0;
  width: 100%;
  height: 100px;
  background-color: #EAE6DD;
  // opacity: 0.8;

  &__next,
  &__back {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    // box-shadow: inset 10px 0 30px 10px #CAC4B4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 800ms;
    transition-property: opacity;

    &:hover {
      opacity: 1;
    }

    &--barbershop {
      background-image: url(../img/barbershop.png);
    }

    &--sedona {
      background-image: url(../img/sedona.png);
    }

    &--nerds {
      background-image: url(../img/nerds.png);
    }
  }

  &__icon-portf_arrow_down,
  &__icon-portf_arrow_up {
    fill: @green;
    width: 43px;
    transition-duration: 800ms;
    transition-property: fill;
  }

  &__next:hover &__icon-portf_arrow_down,
  &__back:hover &__icon-portf_arrow_up {
    fill: @green-dark;
  }
}


@media @tablet {
  .slider {
    padding: 15px 0;
    height: 215px;

    &__icon-portf_arrow_down,
    &__icon-portf_arrow_up {
      width: 48px;
    }
  }
}