.slider {
  display: flex;
  width: 100%;
  height: @rem*90;
  background-color: #EFEBE0;
  opacity: 0.8;

  &__next,
  &__back {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-shadow: inset @rem*10 0 @rem*30 @rem*10 #CAC4B4;
    background: url(../img/sedona.jpg) no-repeat 50% 50%;
    background-size: @rem*100;;
  }

  &__icon-portf_arrow_down,
  &__icon-portf_arrow_up {
    fill: #fff;
    width: @rem*43;
  }
}