extends include/_template-default

block author
  include include/_author__name

block title
  svg.page__icon-title
    use(xlink:href="#icon-about_header")
  h1.page__title Обо мне

block content
  section.about
    article.who-am-i
      div.who-am-i__autor-photo
        //- img(src="img/my_photo.jpg", alt="Сойнов Алексей")
        svg.who-am-i__icon-autor-photo
          use(xlink:href="#icon-heisenberg")
      div.who-am-i__title-wrap
        h3.who-am-i__title Кто я
      p.who-am-i__text
        | Я начинающий веб разработчик из Новосибирска. Учусь разрабатывать современные и удобные сайты. Мне нравятся современные и интересны проекты.
      p.who-am-i__text
        | Этот сайт я сдела в рамках учебного проекты. Чуть позже он наполнится контентом, а пока просто посмотрите как тут все красиво!
    article.skills
      div.skills__title-wrap
        h3.skills__title Чем я могу быть<br> вам полезен
      p.skills__text
        | Больше меня привлекает Frontend, но я так же знаком и могу решать не сложные задачи по Backend.
      ul.skills__list
        li.skills__item
          h4.skills__type Frontend
          ul.skills__inner-list
            li.skills__inner-item.skills__inner-item
              svg.skills__circle.skills__circle--html
                circle
                circle
              span.skills__name HTML5
            li.skills__inner-item
              svg.skills__circle.skills__circle--css
                circle
                circle
              span.skills__name CSS3
            li.skills__inner-item
              svg.skills__circle.skills__circle--js
                circle
                circle
              span.skills__name JavaScript<br> &amp; jQuery
        li.skills__item
          h4.skills__type Backend
          ul.skills__inner-list
            li.skills__inner-item
              svg.skills__circle.skills__circle--php
                circle
                circle
              span.skills__name PHP
            li.skills__inner-item
              svg.skills__circle.skills__circle--sql
                circle
                circle
              span.skills__name mySQL
            li.skills__inner-item
              svg.skills__circle.skills__circle--node
                circle
                circle
              span.skills__name Node.js<br> &amp; npm
            li.skills__inner-item
              svg.skills__circle.skills__circle--mongo
                circle
                circle
              span.skills__name Mongo.db
        li.skills__item
          h4.skills__type WorkFlow
          ul.skills__inner-list
            li.skills__inner-item
              svg.skills__circle.skills__circle--git
                circle
                circle
              span.skills__name Git
            li.skills__inner-item
              svg.skills__circle.skills__circle--gulp
                circle
                circle
              span.skills__name Gulp
            li.skills__inner-item
              svg.skills__circle.skills__circle--bower
                circle
                circle
              span.skills__name Bower
  section.contacts
    //- div.contacts__map
    //-   <iframe src="https://yandex.ru/map-widget/v1/-/CBQSVVwZOC" width="100%" height="100%" frameborder="0"></iframe>
    div.contacts__wrap
      div.contacts__title-wrap
        h2.contacts__title Контакты
      div.contacts__body
        p.contacts__item.contacts__item--skype skype_test
          svg.contacts__icon
            use(xlink:href="#icon-skype")
        p.contacts__item.contacts__item--email soinov.alexey@yandex.ru
          svg.contacts__icon
            use(xlink:href="#icon-envelope")
        p.contacts__item.contacts__item--tel +7&nbsp;999&nbsp;999&nbsp;99&nbsp;99
          svg.contacts__icon
            use(xlink:href="#icon-phone")
        p.contacts__item.contacts__item--address г.&nbsp;Новосибирск, ул.&nbsp;Ватутина, д.107
          svg.contacts__icon
            use(xlink:href="#icon-map_marker")