<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="css/styles.min.css" rel="stylesheet")
    script(src="lib/jquery-3.2.1.js")
    title Портфолио
  //- div.preloader
    div.preloader__bar
  body.page.page--index
    header.page__header
      div.parallax
        div.parallax__layer
          img(src="img/parallax/layer_1.png")
        div.parallax__layer
          img(src="img/parallax/layer_2.png")
        div.parallax__layer
          img(src="img/parallax/layer_3.png")
        div.parallax__layer
          img(src="img/parallax/layer_4.png")
        div.parallax__layer
          img(src="img/parallax/layer_5.png")
        div.parallax__layer
          img(src="img/parallax/layer_6.png")
        div.parallax__layer
          img(src="img/parallax/layer_7.png")
        div.parallax__layer
          img(src="img/parallax/layer_8.png")
      div.authorization
        div.authorization__wrap
          form(action="").authorization__form
            div.authorization__title-wrap
              h1.authorization__title Авторизуйтесь
            div.authorization__login
              div.authorization__input-text-wrap
                label.authorization__icon-wrap(for="login")
                  svg.authorization__icon-login
                    use(xlink:href="#icon-login")
                input.authorization__input-text(type="text" placeholder="Логин" id="login")
              div.authorization__input-text-wrap
                label.authorization__icon-wrap(for="password")
                  svg.authorization__icon-password
                    use(xlink:href="#icon-password")
                input.authorization__input-text(type="password" placeholder="Пароль" id="password")
            div.authorization__test
              input(type="checkbox" id="human")
              label.authorization__checkbox.checkbox(for="human") Я человек
              p.authorization__test-robot Вы точно не робот?
              div.authorization__radio
                input(type="radio" id="authorization-yes" name="authorization")
                label.authorization__radio-btn.radio(for="authorization-yes" name="authorization") Да
                input(type="radio" id="authorization-no" name="authorization")
                label.authorization__radio-btn.radio(for="authorization-no") Не уверен
            div.authorization__btn
              a(href="index.html").btn.btn--authorization.btn--green На главную
              //- button.btn.btn--authorization.btn--green(type="submit") Войти
              a(href="tab1.html").btn.btn--authorization.btn--green Войти
    script(src="js/main.min.js")