doctype html
html(lang="ru")
	include include/_head
	body.page
		header.page__header
			include include/_social
			include include/_main-nav
			div.author
				include include/_author__photo
		main
		include include/_footer