<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="css/styles.min.css" rel="stylesheet")
    //- script(src="lib/jquery-3.2.1.slim.min.js")    
    //- script(src="lib/jquery-3.2.1.min.js")
    script(src="lib/jquery-3.2.1.js")
    title Портфолио
  //- div.preloader
    div.preloader__bar
  body.page
    header.page__header.page__header--index
      a(href="authorization.html").authorization-btn.btn.btn--login Авторизоваться
      div.author
        div.author__wrap
          img.author__photo.author__photo--index(src="img/my_photo.jpg" alt="Алексей Сойнов")
          p.author__name.author__name--index Сойнов Алексей
          p.author__title Личный сайт веб разработчика
          div.social
            ul.social__list.social__list--index
              li.social__item
                a(href="http://vk.com/lonixon" target="_blank").social__link.social__link--vk Вконтакте
                  svg.social__icon.social__icon--green
                    use(xlink:href="#icon-vk")
              li.social__item
                a(href="https://github.com/lonixoon" target="_blank").social__link.social__link--gh Гитхаб
                  svg.social__icon.social__icon--green
                    use(xlink:href="#icon-github")
              li.social__item
                a(href="#").social__link.social__link--in Ин
                  svg.social__icon.social__icon--green
                    use(xlink:href="#icon-in")
          nav.main-nav
            ul.main-nav__list.main-nav__list--index-page
              li.main-nav__item
                a.btn.btn--main-nav.btn--green(href="my-work.html") Мои работы
              li.main-nav__item
                a.btn.btn--main-nav.btn--green(href="about.html") Обо мне
              li.main-nav__item
                a.btn.btn--main-nav.btn--green(href="blog.html") Блог
    script(src="js/main.min.js")