<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(href="css/style.css" rel="stylesheet")
		title Портфолио
	body
		header
			div.btn-authorization.btn Авторизация
		main
			div.autor
				div.autor__foto
					img(href="#" alt="Алексей Сойнов")
				include include/_author__name
				div.social
				ul.social__list
					li.social__item
						a(href="#").social__link.social__link--vk Вконтакте
					li.social__item
						a(href="#").social__link.social__link--gh Гитхаб
					li.social__item
						a(href="#").social__link.social__link--in Ин
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a(href="my-work.html") Мои работы
						li.main-nav__item
							a(href="about.html") Обо мне
						li.main-nav__item
							a(href="blog.html") Блог
			div.authorization
				form.authorization__form
					h1 Авторизуйтесь
					div.authorization__login
						input.authorization__username(type="text" placeholder="Логин" autofocus)
						input.authorization__passwors(type="password" placeholder="Пароль")
					div.authorization__test
						input(type="checkbox" id="human")
						label(for="human") Я человек
						p Вы точно не робот?
						div.authorization__radio
							input(type="radio" id="authorization-yes")
							label(for="authorization-yes") Да
							input(type="radio" id="authorization-no")
							label(for="authorization-no") Не уверен
					div.authorization__btn
						button(type="button") На главную
						button(type="submit") Войти