extends include/_template-default

block author
  include include/_author__name

block title
  svg.page__icon-title
    use(xlink:href="#icon-works_header")
  h1.page__title Мои работы

block content
  section.my-work
    ul.my-work__list

      li.my-work__item.my-work__item--show
        div.my-work__img
          img(src="img/sedona.png" alt="Седона")
        div.my-work__info
          div.my-work__subtitle-wrap
            h3.my-work__subtitle Заповедник Седона в Америке
          p.my-work__technologies Adaptive HTML, CSS
          a.my-work__btn.btn.btn--green(href="https://lonixoon.github.io/sedona-adaptive/build/" target="_blank") Посмотреть сайт
            svg.my-work__icon-link
              use(xlink:href="#icon-link")
        div.my-work__other-work
          svg.arrow-down__icon.arrow-down__icon--right
            use(xlink:href="#icon-arrow_down")
          h4 Просмотр других работ
        div.my-work__slider.slider
          div.slider__next.slider__next--barbershop
            svg.slider__icon-portf_arrow_down
              use(xlink:href="#icon-portf_arrow_down")
          div.slider__back.slider__back--nerds
            svg.slider__icon-portf_arrow_up
              use(xlink:href="#icon-portf_arrow_up")
      
      li.my-work__item
        div.my-work__img
          img(src="img/barbershop.png" alt="Барбершоп Бородинский")
        div.my-work__info
          div.my-work__subtitle-wrap
            h3.my-work__subtitle Барбершоп Бородинский
          p.my-work__technologies Responsive HTML, CSS
          a.my-work__btn.btn.btn--green(href="https://lonixoon.github.io/barbershop-adaptive/" target="_blank") Посмотреть сайт
            svg.my-work__icon-link
              use(xlink:href="#icon-link")
        div.my-work__other-work
          svg.arrow-down__icon.arrow-down__icon--right
            use(xlink:href="#icon-arrow_down")
          h4 Просмотр других работ
        div.my-work__slider.slider
          div.slider__next.slider__next--nerds
            svg.slider__icon-portf_arrow_down
              use(xlink:href="#icon-portf_arrow_down")
          div.slider__back.slider__back--sedona
            svg.slider__icon-portf_arrow_up
              use(xlink:href="#icon-portf_arrow_up")

      li.my-work__item
        div.my-work__img
          img(src="img/nerds.png" alt="Nerds")
        div.my-work__info
          div.my-work__subtitle-wrap
            h3.my-work__subtitle Студия веб дизайна Nerds
          p.my-work__technologies Fixed HTML, CSS
          a.my-work__btn.btn.btn--green(href="https://lonixoon.github.io/nerds/" target="_blank") Посмотреть сайт
            svg.my-work__icon-link
              use(xlink:href="#icon-link")
        div.my-work__other-work
          svg.arrow-down__icon.arrow-down__icon--right
            use(xlink:href="#icon-arrow_down")
          h4 Просмотр других работ
        div.my-work__slider.slider
          div.slider__next.slider__next--sedona
            svg.slider__icon-portf_arrow_down
              use(xlink:href="#icon-portf_arrow_down")
          div.slider__back.slider__back--barbershop
            svg.slider__icon-portf_arrow_up
              use(xlink:href="#icon-portf_arrow_up")
                
  section.feedback
    div.feedback__title-wrap
      svg.feedback__icon-about_header
        use(xlink:href="#icon-about_header")
      h2.feedback__title Что обо мне<br> говорят
    ul.feedback__list
      li.feedback__item
        p.feedback__quote.
          Доброго дня всем! Хочу похвалить за отлично проделанную работу!<br>
          Уже обращались в эту компанию много лет назад и были вполне довольны результатами, поэтому когда в очередной раз понадобился сайт, вновь и без сомнений, обратились к ним!
        div.feedback__user-wrap
          img.feedback__avatar(src="img/sedona.jpg", alt="Роман")
          div.feedback__user-name-wrap
            p.feedback__user-name Роман
            p.feedback__user-position Менеджер
      li.feedback__item
        p.feedback__quote.
          Всем привет! Хочу выразить благодарность чудесный сайт, который они сделали мне, в довольно короткие сроки.
        div.feedback__user-wrap
          img.feedback__avatar(src="img/sedona.jpg", alt="Роман")
          div.feedback__user-name-wrap
            p.feedback__user-name Вован
            p.feedback__user-position крутой ИТшник
    form(action="").feedback__form.form
      div.form__title-wrap
        h3.form__title Связаться со мной
      div.form__body
        input.form__text.form__text--name(type="text" placeholder="Имя" required)
        input.form__text(type="text" placeholder="Должность")
        input.form__text.form__text--email(type="email" placeholder="Email")
        textarea.form__text.form__text--textarea(placeholder="Ваше сообщение" required)
      div.form__bottom
        button(type="submit").btn.btn--authorization.btn--green Отправить
        //- a.btn.btn--authorization.btn--green Отправить
        button(type="reset").btn.btn--authorization.btn--green Очистить
        //- a.btn.btn--authorization.btn--green Очистить
    //- a(href="#header").arrow-down
      svg.arrow-down__icon.arrow-down__icon--up
        use(xlink:href="#icon-arrow_down")