extends include/_template-admin

block content
  div.admin-skills
    h2.admin-skills__title Страница «Обо мне»
    ul.admin-skills__list
      li.admin-skills__item
        h4.skills__type Frontend
        ul.admin-skills__inner-list
          li.admin-skills__inner-item
            span.admin-skills__name HTML5
            input.admin-skills__data(type="number")
            span %
          li.admin-skills__inner-item
            span.admin-skills__name CSS3
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name JavaScript
            input.admin-skills__data(type="number")
            span.admin-skills__badge %
      li.admin-skills__item
        h4.skills__type Backend
        ul.admin-skills__inner-list
          li.admin-skills__inner-item PHP
          li.admin-skills__inner-item myEQL
          li.admin-skills__inner-item Node.js
          li.admin-skills__inner-item Mongo.db
      li.admin-skills__item
        h4.skills__type WorkFlow
        ul.admin-skills__inner-list
          li.admin-skills__inner-item Git
          li.admin-skills__inner-item Gulp
          li.admin-skills__inner-item Bower
    button(type="submit") Сохранить