extends include/_template-admin

block content
  h2.admin-page__title Страница «Обо мне»
  div.admin-skills
    ul.admin-skills__list
      li.admin-skills__item
        h4.skills__type Frontend
        ul.admin-skills__inner-list
          li.admin-skills__inner-item
            span.admin-skills__name HTML5
            input.admin-skills__data(type="number")
            span %
          li.admin-skills__inner-item
            span.admin-skills__name CSS3
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name JavaScript
            input.admin-skills__data(type="number")
            span.admin-skills__badge %
      li.admin-skills__item
        h4.skills__type Backend
        ul.admin-skills__inner-list
          li.admin-skills__inner-item
            span.admin-skills__name PHP
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name myEQL
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name Node.js
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name Mongo.db
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
      li.admin-skills__item
        h4.skills__type WorkFlow
        ul.admin-skills__inner-list
          li.admin-skills__inner-item
            span.admin-skills__name Git
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name Gulp
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
          li.admin-skills__inner-item
            span.admin-skills__name Bower
            input.admin-skills__data(type="number")
            span.admin-skills__pro %
    button.btn.btn--green(type="submit") Сохранить