extends include/_template-admin

block content
	h2.admin-page__title Страница «Блог»
	div.admin-blog
		h3 Добавить запись
		form.admin-blog__form.form
			input.form__text(type="text" placeholder="Название")
			input.form__text(type="text" placeholder="Дата")
			textarea.form__textarea(placeholder="Содержание")
			button(type="submit") Добавить