extends include/_template-admin

block content
	h2.admin-page__title Страница «Мои работы»
	div.admin-my-work
		h3.admin-my-work__titile Добавить работу
		form.admin-my-work__form.form
			input.form__text(type="text" placeholder="Название проекта")
			input.form__text(type="text" placeholder="Технологии")
			div.form__attachment Загрузить картинку
			button(type="submit") Добавить