extends include/_template-admin

block content
  h2.admin-page__title Страница «Мои работы»
  div.admin-my-work
    h3.admin-my-work__add Добавить работу
    form.admin-my-work__form
      input.admin-my-work__text(type="text" placeholder="Название проекта")
      input.admin-my-work__text(type="text" placeholder="Технологии")
      div.admin-my-work__attachment Загрузить картинку
      button.admin-my-work__btn.btn.btn--green(type="submit") Добавить