.about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #efeee9;
  
  &__icon-corner {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 40px; 
    z-index: 30;
    fill: #f0eee9;
  }

  &__title-wrap {
    position: relative;
    text-align: center;
  }

  &__title {
    .line-for-title();
    position: relative;
    font-size: 35px;
    z-index: 20;
    
  }

  &__icon-about_header {
    position: absolute;
    width: 220px;

    left: 50%;
    top: 50%;

    margin-top: -55px;
    margin-left: -100px;
    fill: fade(#000, 4%);
    z-index: 10;
  }
}


@media @laptop {
  .about {
    flex-direction: row;
    // justify-content: center;
  }
}