.about-footer {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid fade(#fff, 20%);
  color: fade(#fff, 50%);
  font-weight: 300;
}


@media @tablet {
  .about-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media @laptop {
  .about-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      width: 600px;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }
  }
}