.admin-skills {
  // padding: 20px 10px;
  
  // &__title {
  //   margin-top: 0;
  //   font-size: 24px;
  //   font-weight: 500;
  // }

  &__list {
    padding-left: 0;
  }

  &__inner-list {
    padding-left: 0;
    margin-bottom: 20px;
  }

  &__inner-item {
    display: flex;
    width: 180px;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 2;
  }

  &__name {
  }

  &__data {
    width: 45px;
    margin-left: auto;
    margin-right: 8px;
    border: none;
    border-radius: 3px;
    text-align: center;
    line-height: inherit;
  }
}