.admin-page {

  h1,h2,h3 {
    font-family: "Roboto";
  }

  &__main {
    position: relative;
    background: url(../img/bg-tablet.jpg) no-repeat 50% -50px;
    background-size: 1200px;
    // height: 100vh;
  }
}