.admin-skills {
  padding: 20px 10px 0 10px;
  
  &__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
  }

  &__list {
    padding-left: 0;
  }

  &__inner-list {
    padding-left: 0;
  }
}