.authorization {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: @rem * 300;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: hidden;


  input[type="checkbox"] {
    display: none;
  }

  &__title {
    font-size: @rem * 30;
    color: @gray-dark;
  }

  &__form {
    text-align: center;
    font-weight: normal;
  }

  &__input-text {
    width: @rem * 260;
    padding: @rem * 15;
    margin-bottom: @rem * 20;
    border: none;
    border-radius: 5px;
  }

  &__btn {
    display: flex;
    flex-direction: row;
  }
}