.blog {
  position: relative;
  padding: 0 10px;
  padding-bottom: 60px;
  border-top: 1px solid #fff;
  background-color: #fff;

  &__icon-corner {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 30;
    fill: #fff;
  }

  &__item {
  	padding-bottom: 30px;
  	margin-bottom: 20px;
  	border-bottom: 5px solid #f1f1f1;

  	&:last-child {
  		border: none;
  	}
  }
}


@media @tablet {
  .blog {
    padding: 0 20px;
    padding-bottom: 80px;

    &__icon-corner {
      height: 65px;
    }
  }
}


@media @laptop {
  .blog {
    padding: 0 80px;
    padding-bottom: 60px;
    margin-left: 300px;

    &__icon-corner {
      height: 100px;
    }
  }
}


@media @desktop {
  .blog {
    padding-top: 30px;
    padding-right: 20%;
    padding-left: 100px;
    padding-bottom: 120px;
  }
}