.blog {
  padding: 0 @rem*10;
  background-color: #fff;

  &__item {
  	padding-bottom: @rem*20;
  	margin-bottom: @rem*20;
  	border-bottom: 5px solid #f1f1f1;

  	&:last-child {
  		border: none;
  	}
  }
}