.contacts {
  background-color: #fff;
  width: 100%;
  padding: 0 10px;

  &__title-wrap {
    text-align: center;
  }

  &__title {
    .line-for-title();
    line-height: 1;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    padding-left: 35px;
  	font-size: 16px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;

    fill: @green;
  }
}