.feedback {
  background: #fff url(../img/bg2-tablet.jpg) no-repeat 50% 150%;
  width: 100%;

  &__title-wrap {
    position: relative;
    text-align: center;
  }

  &__icon-about_header {
    position: absolute;
    width: @rem*220;

    left: 50%;
    top: 50%;

    margin-top: -@rem*85;
    margin-left: -@rem*110;
    
    fill: fade(#000, 4%);
    z-index: 10;
  }

  &__title {
    .line-for-title();
    font-size: @rem*35;
    z-index: 20;
  }

  &__form {
    margin-bottom: @rem*100;
  }

  &__list{
    list-style: none;
    padding: 0 @rem*10;
  }

  &__item{
    padding-top: @rem*50;
    margin-bottom: @rem*30;
  }

  &__avatar {
    width: @rem*50;
    height: @rem*50;
    border-radius: 50%;
    margin-right: @rem*20;
  }

  &__user-wrap {
    display: flex;
    color: @green;
    line-height: 1.8;
  }


  &__user-name {
    margin: 0;
    font-weight: 700;
  }

  &__user-position {
    margin: 0;
  } 

}