.my-work {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FBF8F1;

  &__icon-corner {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 40px;
    z-index: 30;
    fill: #faf8f0;
  }

  &__title-wrap {
    position: relative;
    text-align: center;
    background-color: #faf8f0;
  }

  &__title {
    .line-for-title();
    position: relative;
    font-size: 35px;
    z-index: 20;    
  }

  &__subtitle-wrap {
  }

  &__subtitle {
    .line-for-title();
    margin: 0;
    font-size: 20px;
  }

  &__icon-works {
    position: absolute;
    width: 240px;

    left: 50%;
    top: 50%;

    margin-top: -55px;
    margin-left: -110px;
    
    // fill: #f0eee7;
    fill: fade(#000, 4%);
    z-index: 10;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    
  }

  &__img {
    padding: 40px;
    text-align: center;
    background-color: #EFEBE0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    text-align: center;
    background-color: #F0EFEA;
  }

  &__technologies {
    padding: 8px 0;
    margin-bottom: 20px;

    border-top: 1px solid @green;
    border-bottom: 1px solid @green;

    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    color: @green;    
  }

  &__slider {
  }

  &__btn {
    position: relative;
    padding-left: 45px;
  }

  &__icon-link {
    position: absolute;
    width: 20px;
    fill: #fff;
    top: 0;
    left: 12px;
  }
}