.my-work {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FBF8F1;

  &__title {
    text-align: center;
    font-size: @rem*35;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    
  }

  &__img {
    padding: @rem*40;
    text-align: center;
    background-color: #EFEBE0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: @rem*40 @rem*10;
    text-align: center;
    background-color: #F0EFEA;
  }

  &__technologies {
    padding: @rem*8 0;

    border-top: 1px solid @green;
    border-bottom: 1px solid @green;

    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    color: @green;    
  }

  &__subtitle {
    padding: 0 @rem*40;
    margin: 0;

    text-align: center;
    font-size: @rem*20;
  }

  &__slider {
  }
}