.my-work {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FBF8F1;

  &__icon-corner {
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: @rem*40;
    z-index: 30;
    fill: #faf8f0;
  }

  &__title-wrap {
    position: relative;
    text-align: center;
    background-color: #faf8f0;
  }

  &__title {
    .line-for-title();
    position: relative;
    font-size: @rem*35;
    z-index: 20;    
  }

  &__subtitle-wrap {
  }

  &__subtitle {
    .line-for-title();
    margin: 0;
    font-size: @rem*20;
  }

  &__icon-works {
    position: absolute;
    width: @rem*240;

    left: 50%;
    top: 50%;

    margin-top: -@rem*55;
    margin-left: -@rem*110;
    
    // fill: #f0eee7;
    fill: fade(#000, 4%);
    z-index: 10;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    
  }

  &__img {
    padding: @rem*40;
    text-align: center;
    background-color: #EFEBE0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: @rem*40 @rem*10;
    text-align: center;
    background-color: #F0EFEA;
  }

  &__technologies {
    padding: @rem*8 0;

    border-top: 1px solid @green;
    border-bottom: 1px solid @green;

    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    color: @green;    
  }

  &__slider {
  }

  &__btn {
    position: relative;
    padding-left: @rem*45;
  }

  &__icon-link {
    position: absolute;
    width: @rem*20;
    fill: #fff;
    top: 0;
    left: @rem*12;
  }
}