.page {
  background: url(../img/bg-tablet.jpg) no-repeat 50% -50px;
  background-size: 1200px;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media @tablet {
  .page {
    // background-image: url(../img/bg-tablet.jpg);
    background-size: auto;
  }
}


@media @laptop {
  .page {
    background-image: url(../img/bg-desktop.jpg);
  }
}