.page-nav {
  position: relative;

  &__toggle {
    position: fixed;
    margin-left: -30px;
    top: 50%;
    left: 0%;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background-color: @green;
    z-index: 50;
    transition: all 800ms;

    &--opened {
      left: 275px;
    }
  }

  &__wrap {
    position: fixed;
    top: 0;
    left: -275px;
    bottom: 0;    
    width: 275px;

    color: #fff;
    font-size: 16px;
    background-color: @green;
    z-index: 120;
    transition: all 800ms;

    &--opened {
      left: 0;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 20px;
    list-style: none;
    text-align: right;
  }

  &__item {
    // padding: 15px 0;
    // padding-right: 10px;

    
    // &--active {          
    //   border-right: 2px solid #fff;
    // }
  }

  &__link {
    display: inline-block;
    padding: 10px;

    &--active {
      border-right: 2px solid #fff;
    }
  }
}


@media @tablet {
  .page-nav {
    &__toggle {
      width: 45px;
      height: 55px;
      margin-left: -27px;

      &--opened {
        left: 310px;
      }
    }

    &__wrap {
      width: 310px;
      left: -310px;

      &--opened {
        left: 0;
      }
    }
  }
}


@media @laptop {
  .page-nav {
    position: absolute;

    &__toggle {
      display: none;
    }

    &__wrap {
      width: 300px;
      display: block;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      color: inherit;
      background-color: #fff;
    }

    &__list {
      padding-top: 10px;
      padding-right: 0;
    }

    &__item {
      // padding-right: 15px;

      // &--active {
      //   border-right: 3px solid @green;
      //   color: @green;
      // }
    }

    &__link {
      font-weight: 500;
      transition: color 500ms;

      &:hover {
        color: @green-dark;
      }

      &--active {
        border-right: 3px solid @green;
        color: @green;
      }  
    }
  }
}


@media @desktop {
  .page-nav {
    
    &__list {
      padding-top: 40px;
    }
  }
}