.page {
  position: relative;
  background: url(../img/bg-tablet.jpg) no-repeat 50% -50px;
  background-size: 1200px;
  height: 100vh;

  &__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__title{
    font-size: 35px;
    color: #fff;
  }

  &__intro {
    padding: 0 10px;
    text-align: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2F4047;
    color: #fff;
  }
}


@media @tablet {
  .page {
    background-size: auto;

    &__header {
      // height: 500px;
    }
  }
}


@media @laptop {
  .page {
    background-image: url(../img/bg-desktop.jpg);

    &__header {
      // height: 600px;
    }
  }
}