.parallax {
  display: none;
}


@media @laptop {
  .parallax {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    // &--scroll {
    //   perspective: 100px;
    //   overflow-x: hidden;
    //   overflow-y: auto;
    // }

    &__layer {
      position: absolute;
      width: 110%;
      height: 110%;
      left: -5%;
    }

    // &__layer-scroll {

    //   &--1 {
    //     transform: translateZ(-350px) scale(4.5);
    //   }

    //   &--2 {
    //     transform: translateZ(-300px) scale(4);
    //   }

    //   &--3 {
    //     transform: translateZ(-250px) scale(3.5);
    //   }

    //   &--4 {
    //     transform: translateZ(-200px) scale(3);
    //   }

    //   &--5 {
    //     transform: translateZ(-150px) scale(2.5);
    //   }

    //   &--6 {
    //     transform: translateZ(-100px) scale(2);        
    //   }

    //   &--7 {
    //     transform: translateZ(-50px) scale(1.5);        
    //   }

    //   &--8 {
    //     transform: translateZ(0) scale(1);
    //   }
    // }
  }
}

// .parallax__layer img {
//   display: block;
//   position: absolute;
// }
