.skills {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #eeebdf;

  &__title-wrap {
    text-align: center;
  }

  &__title {
    .line-for-title();
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 21px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__type  {
    margin: 15px 0 10px 0;
    font-weight: 500;
  }

  &__item {
    font-size: 21px;
    text-align: center;
  }

  &__inner-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }

  &__inner-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 15px 16px;
    font-size: 14px;
    color: @green;
    // background-color: @gray-lighter;
  }

  &__name {
    position: absolute;
    // top: 0;
  }

  &__circle {
    transform: rotate(-90deg);
    width: 111px;
    height: 111px;

    circle {
      r: 45px;
      cx: 55px;
      cy: 55px;
      fill: none;
      stroke-width: 20px;
    }
    circle:last-child {      
      stroke: @green;
    }
    circle:first-child {
      stroke: #ccc;
    }

    &--html {
      circle:last-child {
        stroke-dasharray: 180px 282.7px;
      }
    }

    &--css {
      circle:last-child {
        stroke-dasharray: 150px 282.7px;
      }
    }

    &--js {
      circle:last-child {
        stroke-dasharray: 20px 282.7px;
      }
    }

    &--php {
      circle:last-child {
        stroke-dasharray: 0px 282.7px;
      }
    }

    &--sql {
      circle:last-child {
        stroke-dasharray: 0px 282.7px;
      }
    }

    &--node {
      circle:last-child {
        stroke-dasharray: 10px 282.7px;
      }
    }

    &--mongo {
      circle:last-child {
        stroke-dasharray: 0px 282.7px;
      }
    }

    &--git {
      circle:last-child {
        stroke-dasharray: 60px 282.7px;
      }
    }

    &--gulp {
      circle:last-child {
        stroke-dasharray: 40px 282.7px;
      }
    }

    &--bower {
      circle:last-child {
        stroke-dasharray: 0px 282.7px;
      }
    }
  }
}


@media @tablet {
  .skills {
    padding: 0;

    &__title {
      font-size: 30px;
    }

    &__text {
      padding: 0 80px;
    }
  }
}


@media @laptop {
  .skills {
    width: 50%;
    align-items: flex-start;

    &__title-wrap {
      align-self: center;
    }

    &__title {
      font-size: 35px;

      br {
        display: none;
      }
    }

    &__text {
      padding: 0 40px;
    }

    &__type {
      text-align: left;
      margin-top: 0;
      padding-left: 40px;
      font-size: 28px;
    }

    &__list {
      margin-top: 0;
    }

    &__inner-list {
      padding: 0 25px;
      justify-content: flex-start;
    }

    &__inner-item {
      margin: 0 13px 15px 13px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


@media @desktop {
  .skills {

    &__inner-item {
      margin: 0 16px 15px 16px;
    }

    // &__circle {
    //   transform: rotate(-90deg);
    //   width: 121px;
    //   height: 120px;

    //   circle {
    //     r: 50px;
    //     cx: 60px;
    //     cy: 60px;
    //     fill: none;
    //     stroke-width: 20px;
    //   }
    //   circle:last-child {
    //     stroke: @green;
    //   }
    //   circle:first-child {
    //     stroke: #ccc;
    //   }

    //   &--html {
    //     circle:last-child {
    //       stroke-dasharray: 180px 314.1px;
    //     }
    //   }

    //   &--css {
    //     circle:last-child {
    //       stroke-dasharray: 150px 314.1px;
    //     }
    //   }

    //   &--js {
    //     circle:last-child {
    //       stroke-dasharray: 20px 314.1px;
    //     }
    //   }

    //   &--php {
    //     circle:last-child {
    //       stroke-dasharray: 0px 314.1px;
    //     }
    //   }

    //   &--sql {
    //     circle:last-child {
    //       stroke-dasharray: 0px 314.1px;
    //     }
    //   }

    //   &--node {
    //     circle:last-child {
    //       stroke-dasharray: 10px 314.1px;
    //     }
    //   }

    //   &--mongo {
    //     circle:last-child {
    //       stroke-dasharray: 0px 314.1px;
    //     }
    //   }

    //   &--git {
    //     circle:last-child {
    //       stroke-dasharray: 60px 314.1px;
    //     }
    //   }

    //   &--gulp {
    //     circle:last-child {
    //       stroke-dasharray: 40px 314.1px;
    //     }
    //   }

    //   &--bower {
    //     circle:last-child {
    //       stroke-dasharray: 0px 314.1px;
    //     }
    //   }
    // }
  }
}