.social {

  &__list {
    display: flex;
    padding: 0;
    padding-top: @rem * 30;
    margin-top: 0;
    margin-bottom: @rem * 30;

    list-style: none;
  }

  &__item {
    margin-right: @rem * 10;
  }
}