nav.main-nav
	button.nav__toggle(type="button") Открыть меню
	div.main-nav__wrapper
		ul.nav__list
			li.nav__item
				a(href="my-work.html") Мои работы
			li.nav__item
				a(href="blog.html") Блог
			li.nav__item
				a(href="about.html") Обо мне
			li.nav__item
				a(href="login.html") Авторизация