<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="css/styles.min.css" rel="stylesheet")
    //- script(src="lib/jquery-3.2.1.slim.min.js")
    script(src="lib/jquery-3.2.1.js")
    title Портфолио
  //- div.preloader
    div.preloader__bar Идёт загрузка страницы
  body.page
    div.parallax
      //- div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_1.png")
      //- div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_2.png")
      div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_3.png")
      div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_4.png")
      div.parallax__layer.parallax__laye--scroll
        img(src="img/parallax/layer_5.png")
      div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_6.png")
      div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_7.png")
      div.parallax__layer.parallax__layer--scroll
        img(src="img/parallax/layer_8.png")
      //- div.parallax__layer.parallax__layer--scroll
      //-   img(src="img/parallax/layer_9.png")    
      //- div.parallax__layer.parallax__layer--scroll
      //-   img(src="img/parallax/layer_10.png")
    header.page__header.page__header--inner-page#header
      div.social
        ul.social__list
          li.social__item
            a(href="http://vk.com/lonixon" target="_blank").social__link.social__link--vk Вконтакте
              svg.social__icon
                use(xlink:href="#icon-vk")
          li.social__item
            a(href="https://github.com/lonixoon" target="_blank").social__link.social__link--gh Гитхаб
              svg.social__icon
                use(xlink:href="#icon-github")
          li.social__item
            a(href="#").social__link.social__link--in Ин
              svg.social__icon
                use(xlink:href="#icon-in")
      nav.main-nav.main-nav--inner-page
        button.main-nav__toggle(type="button")
          span Меню
        ul.main-nav__list.main-nav__list--full-screen
          li.main-nav__item.main-nav__item--inner-page
            a(href="my-work.html") Мои работы
          li.main-nav__item.main-nav__item--inner-page
            a(href="blog.html") Блог
          li.main-nav__item.main-nav__item--inner-page
            a(href="about.html") Обо мне
          li.main-nav__item.main-nav__item--inner-page
            a(href="index.html") На главную
      div.author.author--inner-page
        div.author__inner-page-wrap
          img.author__photo(src="img/my_photo.jpg" alt="Сойнво Алексей")
          block author
      a.arrow-down(href="#main")
        svg.arrow-down__icon
          use(xlink:href="#icon-arrow_down")
      div.page__title-wrap
        svg.page__icon-corner
          use(xlink:href="#icon-corner")
        block title
    main.page__main#main
      block content
    footer.page__footer
      nav.main-nav.main-nav--footer
        ul.main-nav__list.main-nav__list--footer
          li.main-nav__item
            a.main-nav__link(href="my-work.html") Мои работы
          li.main-nav__item
            a.main-nav__link(href="blog.html") Блог
          li.main-nav__item
            a.main-nav__link(href="about.html") Обо мне
          li.main-nav__item
            a.main-nav__link(href="index.html") На главную
      div.social.social--footer
        ul.social__list.social__list--footer
          li.social__item
            a(href="http://vk.com/lonixon" target="_blank").social__link.social__link--vk Вконтакте
              svg.social__icon.social__icon--round
                use(xlink:href="#icon-vk_round")
          li.social__item
            a(href="https://github.com/lonixoon" target="_blank").social__link.social__link--gh Гитхаб
              svg.social__icon.social__icon--round
                use(xlink:href="#icon-github_round")
          li.social__item
            a(href="#").social__link.social__link--in Ин
              svg.social__icon.social__icon--round
                use(xlink:href="#icon-in_round")
      div.about-footer
        p.about-footer__text Я начинающий веб разработчик из Новосибирска.<br> Этот сайт делаю в рамках учебного проекта.
        p.about-footer__text Свёрстано мной.
    script(src="js/main.min.js")